# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
venv/
ENV/
*.sqlite3
*.db

# Jupyter
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/

# Data and logs
*.csv
*.json
*.log
journal.csv

# OS
.DS_Store
Thumbs.db
